<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規タスク作成</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" href="/icons/checkIcon.png">
</head>

<body>
	<header th:replace="~{header}"></header>
	<div th:each="error:${errorList}">
		<span th:text="${error}" style="color: red"></span>
		<br>
	</div>
	<form action="/tasks/add" method="post">
		<table border="1">
			<tr>
				<th>カテゴリー</th>
				<td>
					<select name="categoryId">
						<option th:each="category:${categories}"
						th:value="${category.id}" th:text="${category.name}"></option>

					</select>
				</td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td>
					<input type="date" name="closingDate">
				</td>
			</tr>
			<tr>
				<th>進捗状況</th>
				<td>
					<select name="progress">
						<option th:value="0">未着手</option>
						<option th:value="1">進行中</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>重要度</th>
				<td>
					<select name="importance">
						<option th:value="0">高</option>
						<option th:value="1">中</option>
						<option th:value="2">低</option>
					</select>
				</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td>
					<textarea name="memo" cols="30" rows="5">
					</textarea>
				</td>
			</tr>
		</table>
		<div class="btn-container">
		<button class="btn-new">登録</button>
		</div>
	</form>
	<footer th:replace="footer"></footer>
</body>

</html>