<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク変更</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="post">
		<table border="1">
			<tr>
				<th>NO</th>
				<th>タイトル</th>
				<th>カテゴリー</th>
				<th>期限</th>
				<th>進捗状況</th>
				<th>重要度</th>
				<th>メモ</th>
			</tr>
			<tr>
				<td th:text="${task.id}"></td>
				<td>
					<input type="text" name="title" th:value="${task.title}">
				</td>
				<td> <select name="categoryId">
						<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"
							th:selected="${category.id == task.category.id}"></option>
					</select></td>
				<td><input type="date" name="closing_date" th:value="${task.closing_date}"></td>
				<td> <select name="progress" th:field="${task.progress}">
						<option th:value="0">未着手</option>
						<option th:value="1">進行中</option>
						<option th:value="2">完了</option>
					</select></td>
				<td> <select name="importance" th:field="${task.importance}">
						<option th:value="0">高</option>
						<option th:value="1">中</option>
						<option th:value="2">低</option>
					</select></td>

				</td>
				<td>
					<input type="text" name="memo" th:value="${task.memo}">
				</td>
			</tr>
		</table>

		<button>更新</button>
	</form>
</body>

</html>