<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link  rel="icon" href="../static/icons/checkIcon.png">
	<link rel="icon" href="/icons/checkIcon.png">
</head>

<body>
	<header>
<h1><a href="/">checkIcon</a></h1>
		
		<h1>ログイン</h1>
	</header>
	<main>
		<form class="form" action="/login" method="post">
			<div th:each="error:${errorList}">
				<span th:text="${error}" style="color: red"></span>
				<br>
			</div>
			<div class="input-span">
			<label class="label">email</label>
			<input type="email" name="email" placeholder="メールアドレス" th:value="${email}"><br>
			</div>
			<div class="input-span">
						<label class="label">email</label>
			<input type="password" name="password" placeholder="パスワード"><br>
			</div>
			<button class="submit">ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
			<br>
					<div class="span">
					<a href="/users/new"><button class="btn-new" type="button">新しいアカウントを作成</button></a>
					</div>
		</form>
		
	</main>
	<footer th:replace="~{footer}"></footer>
</body>

</html>