<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン - ToDoアプリ</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">-->
	<link rel="icon" href="/icons/checkIcon.png">
</head>

<body>
	<header class="login-header">
		<h1 id="font"><a href="/">ToDoリスト</a></h1>
	</header>

	<main class="login-container">
		<form class="form" action="/login" method="post">
			
			<h2 class="form-title" style="color: #ffffff; font-size: 1.2rem; font-weight: bold; margin-bottom: 5px;">ログイン</h2>

			<div th:each="error:${errorList}" class="error-msg-container" style="width: 100%; text-align: left;">
				<span th:text="${error}" style="color: #ff4d4d; font-size: 0.8rem; font-weight: bold;"></span>
			</div>
			
			<div th:if="${message}" class="error-msg-container" style="width: 100%; text-align: left;">
				<span th:text="${message}" style="color: #ff4d4d; font-size: 0.8rem; font-weight: bold;"></span>
			</div>

			<div class="input-span">
				<label class="label">Email</label>
				<input type="email" name="email" placeholder="メールアドレス" th:value="${email}" required autocomplete="email">
			</div>
			
			<div class="input-span">
				<label class="label">Password</label>
				<input type="password" name="password" placeholder="パスワード" required autocomplete="current-password">
			</div>
			
			<button class="submit" type="submit">ログイン</button>
			
			<span class="span">
				アカウントをお持ちでないですか？ <a href="/users/new">新規登録</a>
			</span>
		</form>
	</main>

	<footer th:replace="~{footer}"></footer>
</body>

</html>